services:
  player-score:
    # Referanse til et container bilde fra et Container Register
    image: ghcr.io/larsgjobloop/myapp
    # Koble vertens port 8080 til containers port 8080
    ports:
      - 3000:8080
