services:
  player-score:
    # Vi kan bruke lokal Dockerfiler og unngå å gå via et container register
    build:
      dockerfile: Dockerfile # Navnet på dockerfilen
      context: . # Mappen den skal kjøre kommandoen i fra ("." = denne mappen)
    # Koble vertens port 8080 til containers port 8080
    ports:
      - 3000:8080

  database:
    # Docs Link: https://hub.docker.com/r/bitnami/postgresql
    image: bitnami/postgresql:latest
    # Env vars er miljøvariabler som applikasjon
    # kan lese av og bruke, som oftest til konfigurasjon
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: my_db
    # For persisting data across container restarts
    volumes:
      - database:/bitnami/postgresql

  # For å koblet til UI til database
  # Bruke ^Brukername og passord fra database tjenesten
  # Host name/address blir navnet på tjenesten (database)
  database-admin-ui:
    image: elestio/pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - 3001:80
    # Ikke start denne tjenesten før databasen er oppe å gå
    depends_on:
      - database

# This is a named volume adminstered by Docker Desktop/OrbStack
volumes:
  database:
